@model IEnumerable<CarWah.Models.Modelo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Elite/css/util.css" rel="stylesheet" />
<link href="~/Content/Elite/css/main.css" rel="stylesheet" />

<h2>Listado de Modelos</h2>
<br />
<p>
    @Html.ActionLink("Crear Nuevo", "Create", "Empleados", new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.Codigo }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Codigo }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
