@model CarWah.Models.Cliente

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/_UserRole.cshtml";
}

<h2>Detalle</h2>
<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

    <h2>Details</h2>

    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apellidos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contacto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contacto)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }, new { @class = "btn btn-primary" })|
        @Html.ActionLink("Back to List", "Index","Clientes", new { @class = "btn btn-warning"})
    </p>
</div>