@model CarWah.Models.Cliente_Vehiculo

@{
    Layout = "~/Views/Shared/_UserRole.cshtml";
}

@{
    ViewBag.Title = "Create";
}

<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

    <h2>Borrar</h2>

    <h3>Esta seguro de eliminar este articulo?</h3>
    <div>
        <h4>Cliente Vehiculo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cliente.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vehiculo.Placa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehiculo.Placa)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
  </div>  