@model CarWah.Models.Cliente_Vehiculo
@{
    Layout = "~/Views/Shared/_UserRole.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Detalle";
}

<h2>Details</h2>
<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

    <div>
        <h4>Cliente_Vehiculo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cliente.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vehiculo.Placa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehiculo.Placa)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }, new { @class = "btn btn-primary" })|
        @Html.ActionLink("Back to List", "Index", "Clientes", new { @class = "btn btn-warning" })

    </p>
</div>