@model IEnumerable<CarWah.Models.Cliente_Vehiculo>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/nodernizr")
@Scripts.Render("~/bundles/bootstrap")

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/util.css" rel="stylesheet" />

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Elite CarWash</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clientes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Clientes", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Clientes", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vehiculos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Vehiculoes", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Vehiculoes", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Asignar Vehiculo <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Cliente_Vehiculo", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Cliente_Vehiculo", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Crear Marca <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Marcas", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Marcas", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Crear Modelo <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Modelos", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Modelos", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Crear Tipo de Vehiculo <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "TipoVehiculos", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "TipoVehiculos", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Salir", "Login", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-log-out" })</li>
        </ul>
        <button class="btn btn-success navbar-btn">@Html.ActionLink("Crear Factura", "Create", "Facturas")</button>
    </div>
</nav>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","Cliente_Vehiculo",new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Placa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Codigo }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Codigo }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
