@model IEnumerable<CarWah.Models.Cliente_Vehiculo>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_UserRole.cshtml";
}

@{
    ViewBag.Title = "Create";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Cliente_Vehiculo", new { @class = "btn btn-success" })
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Placa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Codigo }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Codigo }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
