@model CarWah.Models.TipoLavado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoLavado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Lavado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Lavado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
