@{
    Layout = null;
}

@{
    ViewBag.Title = "Home Page";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/Moving.css" rel="stylesheet" type="text/css" />

<body style="background: url('/fonts/carw.jpg')">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Elite CarWash</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Empleados <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Roles <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Roles", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Roles", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Asignar Role <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Empleado_Roles", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Empleado_Roles", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Salir", "Login", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-log-out" })</li>
            </ul>
        </div>
    </nav>
    <div style="background:transparent !important" class="jumbotron">
        <div class="contenedor">
        </div>
    </div>
    <div style="background:transparent !important" color="white" class="jumbotron">
        <div class="contenedor">
            <h1 style="color: white">Bienvenido a Elite CarWash.</h1>
        </div>
    </div>
    <div style="background:transparent !important; color: white;" class="jumbotron">
        <div class="contenedor">
        </div>
    </div>
    <div style="background:transparent !important; color: white;" class="jumbotron">
        <div class="contenedor">
        </div>
    </div>
    <div style="background-color: transparent;" class="container"></div>
</body>