<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Elite CarWash Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/nodernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/util.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Elite CarWash</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Marcas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Marcas", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Marcas", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Modelos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Modelos", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Marcas", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clientes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Clientes", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Clientes", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Asignar Vehiculo <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Cliente_Vehiculo", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Cliente_Vehiculo", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tipo de Lavados<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "TipoLavados", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "TipoLavados", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tipo de Vehiculos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "TipoVehiculos", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "TipoVehiculos", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vehiculos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear", "Create", "Vehiculoes", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                        <li>@Html.ActionLink("Lista", "Index", "Vehiculoes", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Salir", "Login", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-log-out" })</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Elite CarWash</p>
        </footer>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>

