@model CarWah.Models.FacturaDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacturaDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITBIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITBIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factura.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoLavado.Descripcion_Lavado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLavado.Descripcion_Lavado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Placa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
