@{
    Layout = null;
}
@model CarWah.Models.Empleado_Roles

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/nodernizr")
@Scripts.Render("~/bundles/bootstrap")

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/util.css" rel="stylesheet" />

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Elite CarWash</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Empleados <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Roles <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Roles", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Roles", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Asignar Role <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Crear", "Create", "Empleado_Roles", new { area = "" }, new { @class = "glyphicon glyphicon-plus" })</li>
                    <li>@Html.ActionLink("Lista", "Index", "Empleado_Roles", new { area = "" }, new { @class = "glyphicon glyphicon-th-list" })</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Salir", "Login", "Empleados", new { area = "" }, new { @class = "glyphicon glyphicon-log-out" })</li>
        </ul>
    </div>
</nav>

<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <span style="font-size: 35px" class="glyphicon glyphicon-paperclip">
                    Asignar Rol
                </span>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.EmpleadoId, "Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EmpleadoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmpleadoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleId, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                        @Html.ActionLink("Volver a lista", "Index","Roles" ,new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>